#special, #resume, .button {
  height: 37px;
  font-size: 20px;
  border-radius: 50%;
  border: white 1px solid;
  color: white;
  background-color: gray;
}

#special:hover, #resume:hover, .button:hover {
  color: white;
  border: white 1px solid;
  background-color: #D18F7E;
}

body {
  background-image: url("../images/portimg.jpg");
}

header {
  width: 960px;
  margin: 0 auto;
  height: 90px;
  background: #447b7b;
  position: relative;
}

#name {
  position: absolute;
  bottom: 20px;
  width: 480px;
  font-size: 35px;
  margin: 0.7%;
  color: white;
  float: left;
  font-weight: bold;
}

#links {
  float: left;
  width: 480px;
  bottom: 20px;
  right: 0;
  position: absolute;
  padding: 5px;
}

.button {
  float: right;
  margin-left: 30px;
}

section {
  position: relative;
  margin-top: 60px !important;
  border: #447b7b 2.5px solid;
  width: 955px;
  margin: 0 auto;
  background-color: white;
  min-height: 375px;
  overflow: hidden;
  border-radius: 5%;
}

#pagetitle {
  margin-left: 5%;
  margin-top: 2%;
  font-size: 37px;
  color: #447b7b;
  font-weight: bold;
}

#pagetitle2 {
  margin-left: 5%;
  margin-top: 2%;
  color: #447b7b;
  font-weight: bold;
}

.undertitle {
  border: #447b7b 1px solid;
  clear: both;
}

#profile {
  width: 260px;
  margin-left: 10px;
  border-radius: 25%;
  float: left;
}

#index {
  float: left;
  width: 600px;
  font-size: 21px;
  margin-left: 30px;
  margin-top: 10px;
  color: #447b7b;
}

#resume {
  position: absolute;
  bottom: 10px;
  left: 40%;
  right: 40%;
  text-align: center;
  padding-top: 9px;
}

.res {
  width: 100%;
}

#personname {
  margin-left: 10px;
}

#personemail, #personmsg {
  margin-left: 10px;
  margin-top: 15px;
}

h3 {
  color: #447b7b;
  font-weight: bold;
  font-size: 20px;
}

input {
  font-size: 16px;
  width: 90%;
  margin-top: 5px;
  padding-left: 5px;
}

textarea {
  width: 90%;
  height: 45px;
  font-size: 16px;
  padding-left: 5px;
}

#forbutton {
  width: 100%;
  justify-content: center;
  text-align: center;
}

#foremail {
  margin-top: 10px;
  display: none;
}

#special {
  margin-bottom: 15px;
  margin-top: 10px;
}

.card {
  width: 150px;
  border: #447b7b 1px solid;
  margin-left: 13px;
  float: left;
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: 2px 2px 5px;
}
.card:hover .cont {
  background-color: #D18F7E;
}

.app {
  width: 100%;
}

#personname {
  clear: both;
}

.cont {
  text-align: center;
  background-color: #447b7b;
  color: white;
  font-size: 22px;
  height: 25px;
}

a {
  text-decoration: none;
}

#title {
  float: left;
  font-size: 37px;
  width: 49%;
}

#phone {
  float: left;
  width: 49%;
  font-size: 20px !important;
  text-align: right;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#bottom {
  text-align: center;
  color: white;
  padding-left: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 960px) {
  header {
    width: 100%;
  }

  section {
    width: 99%;
  }

  #name, #links {
    width: 50%;
  }

  #profile {
    margin-right: 10px;
  }

  #index {
    float: none;
    width: 90%;
    margin-right: 30px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 825px) {
  #profile {
    float: none;
  }

  #imgdiv {
    justify-content: center;
    display: flex;
  }
}
@media screen and (max-width: 675px) {
  #name, #links {
    float: none;
    bottom: auto;
    right: auto;
    position: relative;
    margin: 0;
  }

  #name {
    width: 99%;
  }

  #links {
    width: 96%;
    justify-content: center;
    flex-direction: row-reverse;
    display: flex;
  }

  .button {
    float: none;
  }

  header {
    height: 115px;
    text-align: center;
  }

  h1 {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 460px) {
  section {
    width: 98%;
  }

  #pagetitle {
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  button {
    font-size: 17px;
  }
}
@media screen and (max-height: 745px) {
  footer {
    position: relative;
    margin-top: 10px;
  }
}

/*# sourceMappingURL=portstyle.css.map */
